th {
    font-size: 12px;
    color: brown;
}

body {
  background-color: beige;
  color: brown;
  margin: 0;
  padding: 0;
}

#modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, 1fr);
  display: none;
}

#container {
  grid-column-start: 2;
  grid-row-start: 2;
  background-color: white;
  padding: 2em;
  text-align: center;
  border-radius: 20px;
}
